################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunctionApps/HubSpotTest.FunctionApp.Webhook
